<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>

</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Posts </h1>
    <p>gg</p>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>

 
</body>
</html>